# dependencies
/node_modules
yarn.lock
/.pnp
.pnp.js
.yarn

# testing
/coverage

# Remix
/.cache
/public/build

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
next-env.d.ts

# database
*.db
